.glow {
  text-shadow: 0 0 20px rgba(96, 165, 250, 0.8),
    0 0 40px rgba(96, 165, 250, 0.4), 0 0 60px rgba(96, 165, 250, 0.2);
}

@keyframes floatBounce {
  0%,
  100% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(12px);
  }
}
.animate-float-bounce {
  animation: floatBounce 6s ease-in-out infinite;
}

@keyframes smoothFadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-smooth-fade-up {
  animation: smoothFadeUp 1.2s ease-out forwards;
}
