@import "tailwindcss";
body{
  background: #05060f;
  font-family: 'Orbitron', 'Exo 2', sans-serif
}
/* index.css ya globals.css */
body {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
