@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: #05060f;
}
@keyframes twinkle {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

.animate-twinkle {
  animation: twinkle 2s infinite ease-in-out;
}
